body { font-size: 100%; }

h3 { color: blue; margin-bottom: 15px; }

form {
  width: 300px;
  margin: auto;
  margin-top: 20px;
  background-color: lightgray;
  text-align: center;
  border: .25em solid blue;
  border-radius: 5px;
}


label { 
  font-size: 1.5em; 
  color: blue;
} 

